/* ----------------------------
   Graph related CSS
   ---------------------------- */

circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

/* ----------------------------
   UI related css
   ---------------------------- */

html, body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 49px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.canvas {
    height: 600px;
}

.menu .menu-section * {
    border-radius: 0;
}

#alchemy {
    width: 100%;
    height: 100%;
    margin: auto;

}

.loader #alchemy {
    background-image: url("../images/loader.gif");
    background-repeat: no-repeat;
    background-position: top right;
}

.menu .menu-section form {
    -webkit-box-shadow: -9px 13px 41px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 13px 41px -11px rgba(0, 0, 0, 0.75);
    box-shadow: -9px 13px 41px -11px rgba(0, 0, 0, 0.75);
    background-color: #525864;
}

.menu .menu-section form input,
.menu .menu-section form select {
    background-color: #525864;
    border: none;
    border-bottom: 1px #707070 solid;
    color: #ffffff;
}

.menu .menu-section .list-group {
    overflow: scroll;
    overflow-x: hidden;
    border: none;
    height: 85%;
    padding: 0;
    margin: 0;
    background-color: #525864;
    color: #ffffff;
}

.menu .menu-section .list-group-item:first-child {
    border-top: none;
}

.menu .menu-section .list-group-item {
    cursor: pointer;
    border: none;
    border-top: 1px #707070 solid;
    border-bottom: 1px #707070 solid;
    background-color: #525864;
    color: #ffffff;
}

.menu .menu-section .list-group-item.add-button {
    background-color: #008cc1;
}


.menu .menu-section .list-group-item:hover {
    background-color: #292b31;
}

.list-group-item span {
    padding-right: 10px;
}
